/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: Arial,Helvetica,freesans,sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
==================================
Typography
==================================
*/

.middle-title {
  font-size: 24px;
  font-weight: bold;
  color: #4A4A4A;
  padding-left: 5px;
  margin-bottom: 16px;
  /* overflow: hidden; */
}

.middle-title > span {
  border-left: 4px solid #e91802;
  margin-right: 10px;
  overflow: hidden;
}

.col-1-3 {
  color: #212121;
}

.col-1-3 h4 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.col-1-3 p {
  font-size: 14px;
  padding-bottom: 10px;
}

.col-1-3 span {
  font-size: 14px;
  color: #767676;
  border-left: 2px solid red;
  padding-left: 5px;
}

/*
==================================
Grid
==================================
*/

*,
*:before,
*:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}
      
.whole-section {
    width: 1248px;
    margin: 0 auto;
    background-color: pink;
}

.welcome {
  box-sizing: border-box;
  display: inline;
  width: 100%;
  font-size: 22px;
}
 
.welcome-right {
  color: #8c8c8c;

}

.welcome-left {
  color: #4a4a4a;
  font-weight: bold;
}

.col-1-4,
.col-2-4,
.col-1-3 {
  display: inline-block;
  vertical-align: top;
}

.col-2-4 {
  width: 50%;
  height: 350px;
  vertical-align: bottom;
  background-repeat: no-repeat;
  background-color: lawngreen;
  background-size: contain;
  background-position: center;
  
}
.col-1-4 {
  width: 25%;
  background-color: powderblue;
}

.col-1-3 {
  width: 33.33%;
  padding-right: 16px;
  padding-left: 16px;
}

/*
==================================
Headlines
==================================
*/



/*
==================================
Navigation
==================================
*/

nav {
    background-color: black;
}

.navigation {
    width: 1248px;
    margin: 0 auto;
}

.navigation a {
    font: bold 12px ReithSans, Arial,Helvetica,freesans,sans-serif;
    color: white;
    padding: 6px 20px 4px;
    text-decoration: none;
}

.navigation li {
    display: inline-block;   
    vertical-align: middle;
    border-right: white solid 0.5px;
    height: 43px;
    line-height: 42px;
  }

.navigation-images {
    vertical-align: middle;
    margin: 0 auto;
}

.bbc-image {
    width: 80px;
}

.user-icon {
    width: 20px;
    margin-right: 5px;
}

.sign-in {
    padding-right: 70px;
}

.navigation .last-li {
  border-right: none;
}

.navigation li .triangle {
  margin-left: 40px;
  
}

.navigation li .triangle img {
  width: 8px;
}

/*
==================================
Navigation - Seach Bar
==================================
*/

form {
  color: #bbb;
}

input[type="search"] {
  border: none;
  background: white;
  margin-left: 3px;
  padding: 5px 5px;
  font-size: 12.5px;
  font-weight: bold;
  width: 100%;
  border: 1px solid transparent;
  background-image: url('../Images/search-icon.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 10%;
}

input[type="search"]::placeholder {
  color: #555
}

.search-button {
  width: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
}



/*
==================================
Link
==================================
*/

a {
        text-decoration: none;
  }